.post-page {
    padding: 20px;
}

.post-list {
    margin-top: 20px;
}

.post-item {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    cursor: pointer;
}

.post-item:hover {
    background-color: #f9f9f9;
}

.post-page button {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

.post-page button:hover {
    background-color: #2874a6;
}


/* PostPageHeader.css */
.post-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.create-post-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.create-post-button:hover {
    background-color: #2874a6;
}